{% extends 'base.html' %}
{% load static %}

{% block title %}
  My Blog
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'blog/posts.css' %}" />
  <link rel="stylesheet" href="{% static 'blog/index.css' %}" />
{% endblock %}

{% block content %}
  <section id="welcome">
    <header>
      <img src="{% static 'blog/images/test.jpg' %}" alt="Author of the blog" />
      <h2>Als Blog</h2>
    </header>
    <p>Little section about me</p>
  </section>

  <section id="latest-posts">
    <h2>My Latest Thoughts</h2>

    <ul>
      {% for post in posts %}
        {% include 'blog/includes/post.html' %}
      {% endfor %}
    </ul>
  </section>

  <section id="about">
    <h2>What I do</h2>
    <p>I love programming, I love to help others and enjoy exploring new tech</p>
    <p>my goal is to keep growing as a developer</p>
  </section>
{% endblock %}
